
.sidebarContentTopList{
    display: grid;
}

.sidebarCreateNewBoardButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--Medium-Grey, #828FA3);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    width: 276px;
    height: 48px;
    padding-left: 30px;
    border-radius: 0px 100px 100px 0px;
    border: none;
    background-color: white;
}
.sidebarCreateNewBoardButtonLabel{
    color: var(--Main-Purple, #635FC7);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 16px;
}