@font-face {
  font-family: "PlusJakartaSans";
  src: local("PlusJakartaSans"),
    url("src/assets/fonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf");
}

@font-face {
  font-family: "PlusJakartaSans";
  font-weight: 600;
  src: local("PlusJakartaSans"),
    url("src/assets/fonts/PlusJakartaSans/PlusJakartaSans-SemiBold.ttf");
}

@font-face {
  font-family: "PlusJakartaSans";
  font-weight: 700;
  src: local("PlusJakartaSans"),
    url("src/assets/fonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf");
}
